/*font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --Darker-cyan: hsl(157, 100%, 10%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--Cream);
    font-size: 14px;
    
}
#pop-up {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    background-color: var(--White);
    width: 45%;
    margin: 150px auto;
    border-radius: 15px;
    overflow: hidden;
    height: auto;
}
#picture {
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/*img {
    width: 100%;
    height: 100%;
    display: block;
    
}*/
#text {
    padding: 40px;
    display: flex;
    flex-direction: column;
    
}
#product {
    color: var(--Dark-grayish-blue);
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
}
#title {
    color: var(--Very-dark-blue);
    font-family: 'Fraunces', serif;
    padding-bottom: 30px;
    
}
#description {
    color: var(--Dark-grayish-blue);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    word-spacing: 1px;
    padding-bottom: 20px;
}
#price {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    margin-top: auto;
    padding-bottom: 20px;
} 
#crosed-price {
    width: 100%;
    text-align: center;
}
#new-price {
    color: var(--Dark-cyan);
    font-family: 'Fraunces', serif;
    
}

#old-price {
    color: var(--Dark-grayish-blue);
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
button {
    width: 100%;
    height: 50px;
    color: var(--White);
    background-color: var(--Dark-cyan);
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: auto;
    cursor: pointer;
    
}
button:hover {
    background-color: var(--Darker-cyan);
}
svg {
    margin-right: 10px;
}
@media (max-width: 1440px) {
    #pop-up {
        
    }
}
@media (max-width: 1150px){
    #pop-up {
        width: 60%;
    }
}
@media (max-width: 700px) {
    #pop-up {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 30px auto;
    }
    #picture {
        height: 400px;
        
    }
}
@media (max-width: 500px) {
    
    #picture {
        background-image: url(images/image-product-mobile.jpg);
        height: 300px;
        
    }
}